* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
  }

  html, body {
    height: 100%;
  }

   body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
   }


    #video_container{
        height: 80vh;
        /*max-width: 100%;
        object-fit: contain;*/
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
    }

    #video_element, #image_solution{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

  .title {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .camera_button,
  .next_button {
    padding: 10px 20px;
    border: 2px solid white;
  }

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

  .image_solution{
    display:none;
  }

.canvas{
    display: none;
}

#loader_container, #fail{
  position: absolute;
  z-index: 999;
  display: none;
  top: 50%;
  left: 50%;
  flex-direction: column;
  background: transparent;
  align-items: center;
  transform: translate(-50%, -50%);
  text-align: center;
}

#fail{
    font-size:36px;
    color: white;
    text-shadow: 2px 2px 4px black;
    display: flex;
}

#loader_text{
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size:36px;
}

.loader {
  background-color: transparent;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}